.btn {
    background-color: var(--accent-color);
    color: var(--header-bg-color);
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8D6E5A;
}

.nav {
    margin-top: 12px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding: 20px 30px;
    background-color: var(--header-bg-color);
}

.nav > ul {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    gap: 40px;
}

.nav > ul > li a {
    position: relative;
    cursor: pointer;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav > ul > li a:hover {
    color: var(--accent-color);
}

.nav > ul > li a i {
    margin-right: 8px;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.welcome-section {
    padding: 60px 20px;
    text-align: center;
}

.about-container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}